# Configuration file

~CONFIG_VERSION: 0.1.0

world-1183878353 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1212336602 {
    # 给予物品而非显示其配方。
    B:cheatItemsEnabled=false

    # 在列表中点击物品以隐藏或取消隐藏。
    B:editEnabled=false
    S:filterText=鞘

    # 在打开的 GUI 一侧显示物品列表。
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world805325770 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world954217768 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


